<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-2">
    <div class="container-fluid" style="max-width: 90%;">
        <a class="navbar-brand fw-bold pe-3" href="/">Virtual Portfolio Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a href="/" class="text-dark nav-link">Home</a>
                <a href="/portfolio" class="text-dark nav-link">Portfolio</a>
                <a href="/orders" class="text-dark nav-link">My Orders</a>
                <a href="/learn" class="text-dark nav-link">Learn</a>
            </div>

            <form class="form-inline my-2 my-lg-0" action="/stocks/search" method="get">
                <div class="input-group" style="min-width: 400px">
                    <input class="form-control bg-light" type="search" placeholder="Enter a stock ticker or name:" aria-label="Search" name="query">
                    <button type="submit" class="input-group-append btn bg-light" style="border: 1px solid #ced4da; border-left: none;">
                        <img src="/icons/search-regular.svg" alt="Search Icon" style="height: 1.5em; width: 1.5em; vertical-align: middle;"/>
                    </button>
                </div>
            </form>

            <div class="navbar-nav ms-auto align-items-center">
                <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <!-- Display link to Admin Dashboard for ROLE_ADMIN -->
                    <a class="text-dark nav-link" href="/admin">Admin Dashboard</a>
                </div>
                <div th:if="${#authorization.expression('isAuthenticated()')} and ${!#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <!-- Show balance for authenticated users without ROLE_ADMIN -->
                    <div class="text-center p-2" style="background-color: #f8f9fa; border-bottom-left-radius: .25rem; border-bottom-right-radius: .25rem;">
                        Balance: <span th:text="'$' + ${#numbers.formatDecimal(balance, 1, 'COMMA', 2, 'POINT')}"></span>
                    </div>
                </div>
                <div th:if="${!#authorization.expression('isAuthenticated()')}">
                    <a class="btn btn-outline-primary btn-sm ms-2" href="/login">Login</a>
                    <a class="btn btn-primary btn-sm ms-2" href="/register">Register</a>
                </div>
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/logout}" method="post" class="ms-2">
                        <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>