<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Action Records</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Action Type</th>
        <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="action : ${actions}">
        <td th:text="${action.id}"></td>
        <td th:text="${action.actionType}"></td>
        <td th:text="${action.timestamp}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
