<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<html>
<body>

<h2>Register Form</h2>
<form method="POST" id="registerForm">
  <label for="emailR">Email:</label><br>
  <input type="text" id="emailR" name="email" value="test@test.com"><br>
  <label for="passwordR">Password:</label><br>
  <input type="password" id="passwordR" name="password" value="test"><br><br>
  <input type="submit" value="Submit">
</form>
<br/>
<br/>
<h2>Login Form</h2>
<form method="POST" id="loginForm">
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" value="test@test.com"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" value="test"><br><br>
  <input type="submit" value="Submit">
</form>


<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

<h3>Response</h3>
<p id="response"></p>
</body>
<script src="./script.js"></script>
</html>
