<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Overview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .full-height {
            min-height: 100vh;
        }
        .wide-container {
            max-width: 60%;
        }
        .large-spacing {
            margin-top: 80px;
        }
        .custom-table {
            border-collapse: collapse;
            width: 100%;
            background-color: white;
        }

        .custom-table th,
        .custom-table td {
            border-bottom: 1px solid black;
            padding: 4px;
            text-align: left;
        }

        .custom-table th {
            background-color: #f8f9fa;
            border-top: none;
        }

        .custom-table tr:last-child td {
            border-bottom: none;
        }

        .custom-table tr {
            height: 20px;
        }
    </style>
</head>

<body class="d-flex align-items-center justify-content-center" style="background-color: #f8f9fa;"> <!-- Grey background -->
<div class="container bg-white wide-container full-height"> <!-- Full height container white -->

    <!-- Key stats cards -->
    <div class="row align-items-stretch mt-5">
        <div class="col-md-4 d-flex">
            <div class="card border-secondary w-100">
                <h5 class="card-header">Total Cost</h5>
                <div class="card-body text-dark">
                    <h5 th:text="'$' + ${#numbers.formatDecimal(totalCost, 2, 'COMMA', 2, 'POINT')}"></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card border-secondary w-100">
                <h5 class="card-header">Total Value</h5>
                <div class="card-body text-dark">
                    <h5 th:text="'$' + ${#numbers.formatDecimal(totalValue, 2, 'COMMA', 2, 'POINT')}"></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card border-secondary w-100">
                <h5 class="card-header">Total Change</h5>
                <div class="card-body text-dark">
                    <h5 th:text="${totalChangePercent == 0 ? '0.00' : #numbers.formatDecimal(totalChangePercent, 1, 'COMMA', 2, 'POINT')} + '%'"></h5>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${!isEditing}" class="text-right mb-3">
        <a href="/portfolio/edit" class="btn btn-primary">Edit Portfolio</a>
    </div>

    <div class="row align-items-stretch mt-5">
        <div class="col-md-12 d-flex">
            <div class="card border-secondary w-100">
                <h4 class="card-header">My Portfolio</h4>
                <div class="card-body text-dark">
                    <small class="text-muted"></small>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Cost ($)</th>
                            <th>Value ($)</th>
                            <th>Change ($)</th>
                            <th>Change (%)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, itemStat : ${portfolio.items}">
                            <td th:text="${item.stock.name}">Stock Name</td>
                            <td th:if="${!isEditing}" th:text="${item.quantity}">Quantity</td>
                            <td th:if="${isEditing}">
                                <form th:action="@{/portfolio/update}" method="post">
                                    <input type="number" name="quantity" th:value="${item.quantity}" class="form-control"/>
                                    <input type="hidden" name="itemId" th:value="${item.id}"/>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </td>
                            <td th:text="${#numbers.formatDecimal(item.purchasePrice * item.quantity, 1, 'COMMA', 2, 'POINT')}">Cost</td>
                            <td th:text="${#numbers.formatDecimal(item.stock.currentPrice * item.quantity, 1, 'COMMA', 2, 'POINT')}">Value</td>
                            <td th:text="${#numbers.formatDecimal((item.stock.currentPrice - item.purchasePrice) * item.quantity, 1, 'COMMA', 2, 'POINT')}">Change ($)</td>
                            <td th:if="${((item.stock.currentPrice - item.purchasePrice) / item.purchasePrice) * 100 >= 0}"
                                th:text="${#numbers.formatDecimal(((item.stock.currentPrice - item.purchasePrice) / item.purchasePrice) * 100, 1, 'COMMA', 2, 'POINT')} + '%'"
                                class="text-success"></td>
                            <td th:if="${((item.stock.currentPrice - item.purchasePrice) / item.purchasePrice) * 100 < 0}"
                                th:text="${#numbers.formatDecimal(((item.stock.currentPrice - item.purchasePrice) / item.purchasePrice) * 100, 1, 'COMMA', 2, 'POINT')} + '%'"
                                class="text-danger"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="large-spacing"></div>

<!--    <form th:if="${isEditing}" th:action="@{/portfolio/save}" th:object="${portfolio}" method="post" class="text-right mb-3">-->
<!--        <button type="submit" class="btn btn-success">Save Portfolio</button>-->
<!--    </form>-->

    <div class="row align-items-stretch">
        <div class="col-md-8 d-flex">
            <div class="card border-secondary w-100">
                <h6 class="card-header">Stock Details</h6>
                <div class="card-body text-dark">
                    <table class="custom-table">
                        <thead>
                        <tr>
                            <th>Header 1</th>
                            <th>Header 2</th>
                            <th>Header 3</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                        </tr>
                        <tr>
                            <td>Data 4</td>
                            <td>Data 5</td>
                            <td>Data 6</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card border-secondary w-100">
                <h6 class="card-header">Stock Details</h6>
                <div class="card-body text-dark d-flex align-items-center justify-content-center">


                </div>
            </div>
        </div>


    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>