<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <style>
        .wide-container {
            max-width: 90%;
        }
        .full-height {
            height: auto;
        }
        .thin-grey-border th,
        .thin-grey-border td {
            border: 1px solid #dee2e6;
        }
        .small-text {
            font-size: 0.85rem;
        }
        .custom-table-header {
            background-color: #F1F5FA;
        }
        .card-header .card-title {
            margin-bottom: 0.25rem;
        }
        .card-header small {
            margin-bottom: 0.5rem;
        }
        .custom-button {
            height: 1.65rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.375rem 0.75rem;
        }
        .custom-modal-position {
            margin-top: 5rem !important;
        }
        .apexcharts-legend {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 600px;
            margin: auto;
        }
        .apexcharts-data-label text {
            fill: #ffffff !important;
        }
        .apexcharts-legend-series:hover + .apexcharts-series .apexcharts-data-label text {
            fill: #ffffff !important;
        }
        .legend-container {
            max-width: 600px;
            margin: auto;
            overflow: auto;
        }
        .portfolio-analysis-card {
            height: 49rem;
            width: 24rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding-left: 0;
            padding-right: 0;
        }
        .portfolio-analysis-header {
            flex-shrink: 0;
        }
        .portfolio-analysis-body {
            overflow-y: auto;
            overflow-x: hidden;
            flex-grow: 1;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
        }
        #portfolioVolatilityChart {
            margin: 20px 0;
        }

        #riskMessage, #explanationText {
            text-align: center;
            width: 100%;
            margin: 10px 0;
        }

        #riskMessage {
            font-size: 18px;
            font-weight: bold;
        }
        .portfolio-analysis-explanation {
            text-align: justify;
            font-size: 16px;
            font-weight: normal;
            padding: 0 15px;
        }
        .nav-pills .nav-link {
            color: #007bff;
            border-radius: 0;
        }
        .nav-pills .nav-link.active, .nav-pills .nav-link:hover {
            background-color: #b3d7ff;
            color: #000000;
            border-color: #b3d7ff;
        }
    </style>
</head>

<div th:replace="fragments/navbar :: navbar"></div>

<body>
<div class="container-fluid bg-light wide-container full-height p-4">

    <div class="row mb-4">
       <div class="col">
            <h4>Your Portfolio</h4>
        </div>
    </div>

    <div th:if="${successMessage}" class="alert alert-success text-center text-dark fs-5" role="alert"><span th:text="${successMessage}"></span></div>
    <div th:if="${errorMessage}" class="alert alert-danger text-center text-dark fs-5" role="alert"><span th:text="${errorMessage}"></span></div>

    <div class="row mb-4 g-3">
        <!-- Stock data and company summary cards -->
        <div class="col d-flex flex-column justify-content-start gap-3">
            <div class="d-flex gap-4">
                <!-- Stock information cards -->
                <div class="card" style="width: 18rem; height: 8rem;">
                    <div class="card-header">Current Balance</div>
                    <div class="card-body d-flex align-items-center h-100">
                        <h4 class="m-0" th:text="'$' + (${balance} != null ? ${#numbers.formatDecimal(balance, 1, 'COMMA', 2, 'POINT')} : '0.00')"></h4>
                    </div>
                </div>
                <div class="card" style="width: 18rem; height: 8rem;">
                    <div class="card-header">Total Cost</div>
                    <div class="card-body d-flex align-items-center h-100">
                        <h4 class="m-0" th:text="'$' + (${totalCost} != null ? ${#numbers.formatDecimal(totalCost, 2, 'COMMA', 2, 'POINT')} : '0.00')"></h4>
                    </div>
                </div>
                <div class="card" style="width: 18rem; height: 8rem;">
                    <div class="card-header">Total Value</div>
                    <div class="card-body d-flex align-items-center h-100">
                        <h4 class="m-0" th:text="'$' + (${totalValue} != null ? ${#numbers.formatDecimal(totalValue, 2, 'COMMA', 2, 'POINT')} : '0.00')"></h4>
                    </div>
                </div>
                <div class="card" style="width: 18rem; height: 8rem;">
                    <div class="card-header">Total Change</div>
                    <div class="card-body d-flex align-items-center h-100">
                        <h4 class="m-0">
                            <span th:text="'$' + ${#numbers.formatDecimal(totalChangeValue, 2, 'COMMA', 2, 'POINT')}"></span>
                            (<span th:class="${totalChangePercent >= 0 ? 'text-success' : 'text-danger'}"
                                   th:text="(${totalChangePercent} != null ? ${#numbers.formatDecimal(totalChangePercent, 1, 'COMMA', 2, 'POINT')} : '0.00') + '%'"></span>)
                        </h4>
                    </div>
                </div>
            </div>

            <div class="card mb-4" style="width: 76.5rem; height: 40rem;">
                <div class="card-header">Investments</div>
                <div class="card-body p-4">
                    <table class="table table-hover mb-4 thin-grey-border small-text">
                        <thead class="text-center custom-table-header">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Purchase Price ($)</th>
                            <th scope="col">Cost ($)</th>
                            <th scope="col">Value ($)</th>
                            <th scope="col">Change ($)</th>
                            <th scope="col">Edit / Delete</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="item, iterStat : ${itemsPage.content}">
                            <td class="align-middle text-center" th:text="${item.stock.name}"></td>
                            <td class="align-middle text-center">
                                <span th:if="${editingItemId != item.id}" th:text="${item.quantity}"></span>
                                <input class="form-control form-control-sm" style="text-align: center;" th:if="${editingItemId == item.id}" type="number" th:value="${item.quantity}" th:name="newQuantity" form="saveForm-${item.id}" step="0.01" required min="0.01"/>
                            </td>
                            <td class="align-middle text-center">
                                <span th:if="${editingItemId != item.id}" th:text="${#numbers.formatDecimal(item.purchasePrice, 1, 'COMMA', 2, 'POINT')}"></span>
                                <input class="form-control form-control-sm" style="text-align: center;" th:if="${editingItemId == item.id}" type="number" th:value="${item.purchasePrice}" th:name="newPurchasePrice" form="saveForm-${item.id}" step="0.01" required min="0.01" max="9999"/>
                            </td>
                            <td class="align-middle text-center" th:text="${#numbers.formatDecimal(item.quantity * item.purchasePrice, 1, 'COMMA', 2, 'POINT')}"></td>
                            <td class="align-middle text-center" th:text="${#numbers.formatDecimal(item.quantity * item.stock.currentPrice, 1, 'COMMA', 2, 'POINT')}"></td>
                            <td class="align-middle text-center">
                                <span th:text="${#numbers.formatDecimal((item.stock.currentPrice - item.purchasePrice) * item.quantity, 1, 'COMMA', 2, 'POINT')}"></span>
                                (<span th:classappend="${(item.stock.currentPrice - item.purchasePrice) >= 0 ? 'text-success' : 'text-danger'}"
                                       th:text="${(item.stock.currentPrice - item.purchasePrice) >= 0 ? '+' : ''} +
                                       ${#numbers.formatDecimal(((item.stock.currentPrice - item.purchasePrice) / item.purchasePrice) * 100, 1, 'COMMA', 2, 'POINT')} + '%'"></span>)
                            </td>
                            <td class="align-middle text-center">
                                <form th:if="${editingItemId == item.id}" id="saveForm-${item.id}" th:action="@{/portfolio/save}" method="post" class="d-inline-block">
                                    <input type="hidden" th:name="id" th:value="${item.id}" />
                                    <button type="submit" class="btn btn-primary btn-sm" title="Save">Save</button>
                                    <a href="/portfolio" class="btn btn-secondary btn-sm" title="Cancel">Cancel</a>
                                </form>
                                <a th:if="${editingItemId != item.id}" th:href="@{/portfolio/edit/(id=${item.id}, page=${itemsPage.number}, size=${itemsPage.size})}" class="bi bi-pencil-square mx-1" title="Edit"></a>
                                <a th:if="${editingItemId != item.id}" href="javascript:void(0)" class="bi bi-trash mx-1" title="Delete" th:data-item-id="${item.id}" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal"></a>
                            </td>
                        </tr>
                        <tr th:if="${portfolio.items.size() < 12}" th:each="i : ${#numbers.sequence(1, 12 - portfolio.items.size())}">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row align-items-end">
                        <div class="col-auto pe-2">
                            <form th:action="@{/portfolio/updatePrices}" method="post">
                                <button type="submit" class="btn btn-outline-secondary text-dark">Refresh Prices</button>
                            </form>
                        </div>
                        <div class="col-auto">
                            <form th:action="@{/portfolio/generateReport}" method="get">
                                <button type="submit" class="btn btn-primary">Download Portfolio Report</button>
                            </form>
                        </div>
                        <div class="col text-end">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-sm mb-0 justify-content-end">
                                    <!-- Previous page Link -->
                                    <li class="page-item" th:classappend="${itemsPage.first ? 'disabled' : ''}">
                                        <a class="page-link" th:href="@{/portfolio(page=${itemsPage.number - 1}, size=${itemsPage.size})}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item" th:classappend="${itemsPage.number == 0 ? 'active' : ''}">
                                        <a class="page-link" th:href="@{/portfolio(page=0, size=${itemsPage.size})}">1</a>
                                    </li>
                                    <li class="page-item" th:if="${itemsPage.totalPages > 1}" th:each="pageNum : ${#numbers.sequence(1, itemsPage.totalPages - 1)}" th:classappend="${pageNum == itemsPage.number ? 'active' : ''}">
                                        <a class="page-link" th:href="@{/portfolio(page=${pageNum}, size=${itemsPage.size})}" th:text="${pageNum + 1}"></a>
                                    </li>
                                    <!-- Next page Link -->
                                    <li class="page-item" th:classappend="${itemsPage.last ? 'disabled' : ''}">
                                        <a class="page-link" th:href="@{/portfolio(page=${itemsPage.number + 1}, size=${itemsPage.size})}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card portfolio-analysis-card">
            <div class="card-header portfolio-analysis-header">Portfolio Analysis</div>
            <div class="card-body portfolio-analysis-body">
                <h6 class="text-center">Sector Allocation</h6>
                <div id="sectorDistributionChart" class="my-0"></div>
                <div class="legend-container text-center mt-2 mb-4"></div>
                <h6 class="text-center mt-2" style="margin-bottom: 0;">Portfolio Volatility</h6>
                <div id="portfolioVolatilityChart" class="my-0"></div>
                <div id="riskMessage" style="margin-bottom: 40px; margin-top: -60px;">
                </div>
                <div id="explanationText" class="portfolio-analysis-explanation" style="margin-top: -20px;"></div>
            </div>
        </div>
    </div>

    <div class="row mt-0">
        <div class="col-12">
            <div class="card mb-4 mt-0" style="width: 104.55rem;">
                <div class="card-header">Portfolio Performance Forecast</div>
                <div class="card-body">
                    <div id="portfolioPerformanceChart"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- PortfolioItem stock delete confirmation modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog custom-modal-position">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Remove Stock?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this stock from your portfolio?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteButton = document.getElementById('confirmDelete');

        deleteButton.addEventListener('click', function () {
            var modal = document.getElementById('deleteConfirmationModal');
            var itemId = modal.getAttribute('data-item-id');
            var bsModal = bootstrap.Modal.getInstance(modal);
            bsModal.hide();

            // Redirect after a short delay to ensure modal animation completes
            setTimeout(function() {
                window.location.href = '/portfolio/delete/' + itemId;
            }, 500);
        });

        var modal = document.getElementById('deleteConfirmationModal');
        modal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Button that triggered the modal
            var itemId = button.getAttribute('data-item-id');
            modal.setAttribute('data-item-id', itemId); // Update modal's item ID
        });
    });
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const hasData = [[${hasSectorData}]];
    let sectors, percentages, chartColors;
    if (hasData) {
        sectors = /*[[${sectorDistribution.keySet()}]]*/ [];
        percentages = /*[[${sectorDistribution.values()}]]*/ [];
        chartColors = ['#008FFB', '#00E396', '#FEB019', '#FF4560', '#775DD0', '#546E7A', '#26a69a', '#D10CE8'];
    } else {
        sectors = ['No Data'];
        percentages = [100];
        chartColors = ['#A9A9A9'];
    }

    const options = {
        series: percentages,
        chart: {
            type: 'donut',
            height: 350,
            width: 350,
            toolbar: {
                show: true,
                tools: {
                    download: '<i class="bi bi-download"></i>',
                    zoom: '<i class="bi bi-zoom-in"></i>',
                    zoomout: '<i class="bi bi-zoom-out"></i>',
                    pan: '<i class="bi bi-arrows-move"></i>',
                    reset: '<i class="bi bi-arrow-counterclockwise"></i>',
                    customIcons: []
                }
            }
        },
        labels: sectors,
        plotOptions: {
            pie: {
                donut: {
                    labels: {
                        show: true,
                        total: {
                            show: true,
                            showAlways: true,
                            label: 'Total',
                            fontSize: '22px',
                            fontFamily: 'Helvetica, Arial, sans-serif',
                            fontWeight: 600,
                            color: '#373d3f',
                            formatter: function (w) { return "100%"; }
                        }
                    }
                }
            }
        },
        legend: {
            position: 'bottom',
            horizontalAlign: 'center',
            fontSize: '14px',
            markers: {
                width: 10,
                height: 10
            },
        },
        dataLabels: {
            enabled: true,
            style: {
                colors: ['#ffffff']
            }
        },
        tooltip: {
            y: {
                formatter: function(value) {
                    return hasData ? `${value}%` : 'N/A';
                }
            }
        },
        colors: chartColors,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 300
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    const chart = new ApexCharts(document.querySelector("#sectorDistributionChart"), options);
    chart.render();
    /*]]>*/
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const hasVolatilityData = [[${portfolioVolatility != null}]];
    let portfolioVolatilityValue;
    let riskMessage;

    if (hasVolatilityData && [[${portfolioVolatility}]] > 0) {
        portfolioVolatilityValue = [[${portfolioVolatility}]];
        if (portfolioVolatilityValue < 10) {
            riskMessage = 'Very Low Risk';
            explanationMessage = "Your portfolio is very stable, reflecting a conservative investment strategy. While stability is crucial, overly conservative positions may limit growth potential.";
        } else if (portfolioVolatilityValue < 20) {
            riskMessage = 'Low Risk';
            explanationMessage = "Your portfolio demonstrates low risk, indicative of good diversification and a balanced approach to investing. Continuous monitoring is advised to mitigate unforeseen market shifts.";
        } else if (portfolioVolatilityValue < 30) {
            riskMessage = 'Slightly Low Risk';
            explanationMessage = "Your portfolio's risk level suggests a well-thought-out investment strategy, though it leans towards caution. Consider evaluating opportunities for modestly increasing risk to achieve enhanced returns.";
        } else if (portfolioVolatilityValue < 40) {
            riskMessage = 'Moderate Risk';
            explanationMessage = "Your portfolio exhibits a moderate level of risk. This middle ground suggests a balanced mix of assets, yet it's crucial to remain vigilant of market volatility and adjust your investments accordingly.";
        } else if (portfolioVolatilityValue < 50) {
            riskMessage = 'Moderately High Risk';
            explanationMessage = "Your portfolio is approaching a higher risk threshold. This risk necessitates a review of your investment strategy to ensure alignment with your long-term financial objectives and risk tolerance.";
        } else if (portfolioVolatilityValue < 60) {
            riskMessage = 'High Risk';
            explanationMessage = "Your portfolio exhibits high risk, indicating potential exposure to volatile markets or speculative assets. Immediate action is recommended to assess and possibly mitigate undue risk to your capital.";
        } else if (portfolioVolatilityValue < 70) {
            riskMessage = 'Very High Risk';
            explanationMessage = "Your portfolio's risk level is alarmingly high, potentially jeopardizing your financial stability. It's recommended to realign your portfolio with a more sustainable risk profile.";
        } else {
            riskMessage = 'Extremely High Risk';
            explanationMessage = "Your portfolio is exposed to extreme risk, suggesting a need for very immediate and strategic intervention. Such a high risk could lead to significant financial loss and undermine your investment goals.";
        }
    } else {
        portfolioVolatilityValue = 0;
        riskMessage = 'No Data';
        explanationMessage = 'Lack of data precludes a meaningful portfolio risk assessment. Consider purchasing one or more stocks to view portfolio risk analysis.';
    }

    var optionsRadial = {
        series: [portfolioVolatilityValue],
        chart: {
            height: 350,
            type: 'radialBar',
        },
        plotOptions: {
            radialBar: {
                startAngle: -90,
                endAngle: 90,
                hollow: {
                    size: '50%',
                    background: 'transparent',
                },
                track: {
                    background: hasVolatilityData ? '#e7e7e7' : '#A9A9A9',
                    strokeWidth: '100%',
                },
                dataLabels: {
                    name: {
                        show: false,
                    },
                    value: {
                        offsetY: 0,
                        fontSize: '22px',
                        color: undefined,
                        formatter: function(val) {
                            // Displays the percentage or "No Data"
                            return hasVolatilityData ? val + "%" : "0%";
                        }
                    }
                }
            }
        },
        stroke: {
            lineCap: 'butt',
            dashArray: 4,
        },
        fill: {
            type: 'gradient',
            gradient: {
                shade: 'light',
                type: 'horizontal',
                colors: [hasVolatilityData ? '#008FFB' : '#A9A9A9'],
                shadeIntensity: 0.5,
                gradientToColors: ['#008FFB'],
                inverseColors: true,
                opacityFrom: 1,
                opacityTo: 1,
                stops: [0, 100]
            },
        },
        labels: ['Volatility'],
    };

    var chartRadial = new ApexCharts(document.querySelector("#portfolioVolatilityChart"), optionsRadial);
    chartRadial.render();

    document.getElementById("riskMessage").innerText = riskMessage;
    document.getElementById("explanationText").innerHTML = explanationMessage;
    /*]]>*/
</script>


<script th:inline="javascript">
    /*<![CDATA[*/
    var historicalPerformance = /*[[${historicalPerformance}]]*/ [];

    // Initialise categories from "Today" up to 2035
    var categories = ['Today'];
    var currentYear = new Date().getFullYear();
    for (var i = 1; i <= 11; i++) {
        categories.push((currentYear + i).toString());
    }
    // Map the historical performance data to the chart, so dynamic predictions are reflected
    var historicalData = historicalPerformance.map((performance, index) => {
        return {
            x: categories[index],
            y: performance || 0 // Use provided performance data or fallback to 0
        };
    });

    var optionsPerformance = {
        series: [{
            name: 'Historical Performance',
            data: historicalData
        }],
        chart: {
            type: 'bar',
            height: 350
        },
        plotOptions: {
            bar: {
                distributed: true,
                colors: {
                    ranges: [{
                        from: -100,
                        to: 0,
                        color: '#ff4560'
                    }, {
                        from: 0,
                        to: 100,
                        color: '#00e396'
                    }],
                },
                dataLabels: {
                    position: 'top',
                }
            }
        },
        dataLabels: {
            enabled: true,
            style: {
                colors: ['#000']
            },
            formatter: function (val) {
                return val.toFixed(2) + '%';
            },
        },
        title: {
            text: 'Portfolio Performance and Forecast'
        },
        xaxis: {
            type: 'category',
            categories: categories
        },
        yaxis: [{
            title: {
                text: 'Performance (%)'
            },
            labels: {
                formatter: function (val) {
                    return val.toFixed(2);
                }
            }
        }],
        tooltip: {
            y: {
                formatter: function (val) {
                    return `${val.toFixed(2)}%`;
                }
            }
        },
        legend: {
            show: false
        }
    };

    var chart1 = new ApexCharts(document.querySelector("#portfolioPerformanceChart"), optionsPerformance);
    chart1.render();
    /*]]>*/
</script>

</body>
</html>