<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .wide-container {
            max-width: 90%;
        }
        .full-height {
            height: auto;
        }
        .card-table {
        }
        .thin-grey-border th,
        .thin-grey-border td {
            border: 1px solid #dee2e6;
        }
        .small-text {
            font-size: 0.85rem;
        }
        .custom-table-header {
            background-color: #F1F5FA;
        }

        .card-header .card-title {
            margin-bottom: 0.25rem;
        }

        .card-header small {
            margin-bottom: 0.5rem;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-1">
    <div class="container-fluid" style="max-width: 90%;">
        <a class="navbar-brand fw-bold pe-2" href="#">TEST</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link small-text active" href="#">Home</a>
                <a class="nav-link small-text" href="#">Stocks</a>
                <a class="nav-link small-text" href="#">News</a>
                <a class="nav-link small-text" href="#">Portfolio</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link d-flex justify-content-center align-items-center" href="#" style="width: 2.5rem; height: 2.5rem; background-color: white; border-radius: 50%; position: relative;">
                    <img src="/icons/bell-solid.svg" alt="Notifications" style="height: 1.5rem; position: absolute;">
                </a>
                <button class="btn btn-primary btn-sm ms-2" type="button">Login</button>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid bg-light wide-container full-height p-4">

    <!-- Balance -->
    <div class="row mb-4 g-3">
        <div class="col-sm-2 d-flex flex-column">
            <div class="card mb-3">
                <div class="card-header">Balance</div>
                <div class="card-body">
                    <p th:if="${#authorization.expression('isAuthenticated()')}">
                        Balance: <span th:text="'$' + ${#numbers.formatDecimal(balance, 1, 'COMMA', 2, 'POINT')}"></span>
                    </p>
                    <p th:unless="${#authorization.expression('isAuthenticated()')}">
                        Log in to view balance
                    </p>
                </div>
            </div>

            <div class="card flex-grow-1">
                <div class="card-header">Stock Information</div>
                <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="">Price:</td>
                        <td class="">
                            <span th:text="'$' + ${stock.price}"></span>
                            <span th:if="${stock.regularMarketChangePercent >= 0}"
                                  th:text="' (' + ${#numbers.formatDecimal(stock.regularMarketChangePercent, 1, 'COMMA', 2, 'POINT')} + '%)'"
                                  class="text-success"></span>
                            <span th:if="${stock.regularMarketChangePercent < 0}"
                                  th:text="' (' + ${#numbers.formatDecimal(stock.regularMarketChangePercent, 1, 'COMMA', 2, 'POINT')} + '%)'"
                                  class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>High (24H):</td>
                        <td th:text="'$' + ${#numbers.formatDecimal(stock.regularMarketDayHigh, 1, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                    <tr>
                        <td>Low (24H):</td>
                        <td th:text="'$' + ${#numbers.formatDecimal(stock.regularMarketDayLow, 1, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        <!-- Chart card -->
        <div class="col-sm-8">
            <div class="card h-auto" style="min-height: 400px;">
                <div class="card-header d-flex justify-content-between align-items-start">
                    <div>
                        <h4 class="card-title" th:text="${stock.name} + ' (' + ${stock.ticker} + ')'">Stock Name (Ticker)</h4>
                        <small class="text-muted" th:text="${stock.fullExchangeName}">Exchange Name</small>
                        <hr class="mb-3">
                    </div>
                    <h4 class="mb-0" th:text="'$' + ${stock.price}"></h4>

                </div>
<!--                <div id="timeframe-buttons">-->
<!--                    <button onclick="updateChart('1d')">1D</button>-->
<!--                    <button onclick="updateChart('5d')">5D</button>-->
<!--                    <button onclick="updateChart('6mo')">6M</button>-->
<!--                    <button onclick="updateChart('1y')">1Y</button>-->
<!--                    <button onclick="updateChart('5y')">5Y</button>-->
<!--                    <button onclick="updateChart('ytd')">YTD</button>-->
<!--                    <button onclick="updateChart('max')">Max</button>-->
<!--                </div>-->
                <div class="card-body d-flex justify-content-center">
                    <div id="chart" style="width: 100%;"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-2 d-flex">
            <div class="card flex-grow-1">
                <div class="card-header">Buy</div>
                <div class="card-body">

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-auto">
                                <form th:action="@{/portfolio/add}" method="post" class="form-inline justify-content-center">
                                    <input type="hidden" name="symbol" th:value="${stock.ticker}" />
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input type="number" name="quantity" class="form-control" placeholder="Quantity" required />
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2">Add to Portfolio</button>
                                </form>
                            </div>
                        </div>
                    </div>
<!--                    <table class="table">-->
<!--                        <tbody>-->
<!--                        <tr>-->
<!--                            <td class="border-0">Price:</td>-->
<!--                            <td class="border-0">-->
<!--                                <span class="border-0" th:text="'$' + ${stock.price}"></span>-->
<!--                                <span th:if="${stock.regularMarketChangePercent >= 0}"-->
<!--                                      th:text="' (' + ${#numbers.formatDecimal(stock.regularMarketChangePercent, 1, 'COMMA', 2, 'POINT')} + '%)'"-->
<!--                                      class="text-success border-0"></span>-->
<!--                                <span th:if="${stock.regularMarketChangePercent < 0}"-->
<!--                                      th:text="' (' + ${#numbers.formatDecimal(stock.regularMarketChangePercent, 1, 'COMMA', 2, 'POINT')} + '%)'"-->
<!--                                      class="text-danger border-0"></span>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>High (24 Hour):</td>-->
<!--                            <td th:text="'$' + ${#numbers.formatDecimal(stock.regularMarketDayHigh, 1, 'COMMA', 2, 'POINT')}"></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Low (24 Hour):</td>-->
<!--                            <td th:text="'$' + ${#numbers.formatDecimal(stock.regularMarketDayLow, 1, 'COMMA', 2, 'POINT')}"></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
                </div>
            </div>
        </div>
    </div>




    <!-- Tables-->
    <div class="row g-3">
        <div class="col-xxl-6">
            <div class="card card-table">
                <div class="card-header">Buy Orders</div>
                <div class="card-body p-4 pb-2">
                    <table class="table table-hover mb-0 thin-grey-border small-text">
                        <thead class="text-center custom-table-header">
                        <tr>
                            <th scope="col">Company Name</th>
                            <th scope="col">Stock Price</th>
                            <th scope="col">Change</th>
                            <th scope="col">% Change</th>
                            <th scope="col">Volume</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr>
                            <td>Apple Inc NASDAQ</td>
                            <td>$147.95</td>
                            <td>$1.60</td>
                            <td>1.5%</td>
                            <td>52,56,333</td>
                        </tr>
                        <tr>
                            <td>Apple Inc NASDAQ</td>
                            <td>$147.95</td>
                            <td>$1.60</td>
                            <td>1.5%</td>
                            <td>52,56,333</td>
                        </tr>
                        <tr>
                            <td>Apple Inc NASDAQ</td>
                            <td>$147.95</td>
                            <td>$1.60</td>
                            <td>1.5%</td>
                            <td>52,56,333</td>
                        </tr>
                        <tr>
                            <td>Apple Inc NASDAQ</td>
                            <td>$147.95</td>
                            <td>$1.60</td>
                            <td>1.5%</td>
                            <td>52,56,333</td>
                        </tr>
                        <tr>
                            <td>Apple Inc NASDAQ</td>
                            <td>$147.95</td>
                            <td>$1.60</td>
                            <td>1.5%</td>
                            <td>52,56,333</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation" class="text-end pe-4">
                    <ul class="pagination pagination-sm justify-content-end mb-4">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="card card-table">
                <div class="card-header">Your Sell Orders</div>
                <div class="card-body p-4">
                    <table class="table table-hover mb-0 thin-grey-border small-text">
                        <thead class="text-center custom-table-header">
                        <tr>
                            <th scope="col">Company Name</th>
                            <th scope="col">Stock Price</th>
                            <th scope="col">Change</th>
                            <th scope="col">% Change</th>
                            <th scope="col">Volume</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr>
                            <td>Apple Inc NASDAQ</td>
                            <td>$147.95</td>
                            <td>$1.60</td>
                            <td>1.5%</td>
                            <td>52,56,333</td>
                        </tr>
                        <tr>
                            <td>Apple Inc NASDAQ</td>
                            <td>$147.95</td>
                            <td>$1.60</td>
                            <td>1.5%</td>
                            <td>52,56,333</td>
                        </tr>
                        <tr>
                            <td>Apple Inc NASDAQ</td>
                            <td>$147.95</td>
                            <td>$1.60</td>
                            <td>1.5%</td>
                            <td>52,56,333</td>
                        </tr>
                        <tr>
                            <td>Apple Inc NASDAQ</td>
                            <td>$147.95</td>
                            <td>$1.60</td>
                            <td>1.5%</td>
                            <td>52,56,333</td>
                        </tr>
                        <tr>
                            <td>Apple Inc NASDAQ</td>
                            <td>$147.95</td>
                            <td>$1.60</td>
                            <td>1.5%</td>
                            <td>52,56,333</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation" class="text-end pe-4">
                    <ul class="pagination pagination-sm justify-content-end mb-4">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var response = JSON.parse(/*[[${historicalDataJson}]]*/ '{}');
    // Access the prices array from the response
    var prices = response.prices || [];

    // Map over the prices array to create the chartData
    var chartData = prices.map(function(dataPoint) {
        return {
            x: new Date(dataPoint.date * 1000),
            y: dataPoint.close
        };
    });

    var options = {
        series: [{
            name: "Price",
            data: chartData,
            type: 'area'
        }],
        chart: {
            height: 350,
            type: 'area',
        },
        colors: ['#22b682'],
        fill: {
            type: 'gradient',
            gradient: {
                shadeIntensity: 1,
                opacityFrom: 0.4,
                opacityTo: 0.01,
                stops: [70, 100],
                colors: ["#22b682", "#e8f8f5"]
            }
        },
        dataLabels: {
            enabled: false
        },
        xaxis: {
            type: 'datetime',
            labels: {
                format: 'dd MMM'
            }
        },
        yaxis: {
            labels: {
                formatter: function (val) {
                    return parseFloat(val).toFixed(2);
                }
            }
        },
        tooltip: {
            x: {
                show: false
            },
            y: {
                formatter: function (val) {
                    return `$${val.toFixed(2)}`;
                }
            }
        },
        stroke: {
            curve: 'smooth',
            width: 2,
            colors: ['#22b682']
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
    /*]]>*/
</script>

</body>
</html>